.btn {
    font-style: normal;
    font-weight: 400; 
    font-size: var(--fsize-md);
    padding: 10px 30px;
    border-radius: var(--border-r-full);
    border: 1px solid var(--blue-primary);
    &__solid{
        color: #fff;
        background: var(--blue-primary);
    }
    &__outlined{
        color: var(--blue-primary);
    }
    }
.fullwidth {
    width: 100%;
}
