@import "@/styles/mixins";
.section{
    &__title{
        font-size: var(--fsize-lg);
        font-weight: 500;
    }
    &__subtitle{
        font-size: var(--fsize-md);
        font-weight: 300;
        color: var(--grey-text);
    }
}
.favorites{
    &__preloader{
        width: 100%;
        @include flex-centered;
    }
    &__not_found{
        width: 100%;
        @include flex-centered;
    }
    &__list{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin-top: 20px;
    }
}
.favorite{
    padding: 15px;
    border-radius: var(--border-r-16);
    border: 1px solid var(--grey-light);
    transition: .15s ease;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    cursor: pointer;
    @include hover-blue;
    &__btn_delete{
        width: 40%;
        padding: 4px;
        font-weight: 600;
        transition: 0.15s ease;
        border-radius: var(--border-r-16);
        color: var(--red-text);
        border: 1px solid var(--red-text);
        &:hover{
            background: var(--red-light);
        }
    }
    &__list{
        margin-top: 20px;
    }
    &__container{
        display: grid;
        grid-template-columns: 1fr 0.2fr;
        column-gap: 20px;
    }
    &__ctv{
        font-size: var(--fsize-sm);
        color: var(--grey-text);
    }
    &__title{
        font-weight: 600;
        display: flex;
        gap: 20px;
        align-items: center;
    }
}