@import '@/styles/mixins';

.back__btn{
    @include flex-centered;
    gap: 10px;
    padding: 12px;
    border-radius: var(--border-r-full);
    background: #fff;
    transition: 0.2s ease;
    & >svg > path {
        transition: 0.1s;}
    &:hover > svg > path {
            fill: #fff;
    }
    &:hover{
        background: var(--grey-divider);
        color: #fff;
    }
    
}