.hotels{
    &__title{
        font-style: normal;
        font-weight: 400;
        font-size: var(--fsize-18);
        margin: 15px 0; 
    }
    &__grid{
        margin: 15px 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 15px;
    }
}